/* for presentation only */
body {
 font: 16px Arial, Helvetica, sans-serif;
 margin: 0;
}

.weather-wrapper {
 background: rgba(35,36,37,0.5);
 margin: 2% 0 5% 5%;
 padding: 40px 5%;
 float: left;
 color: white;
 width: 29%; 
}

.capitalize {
 text-transform: capitalize;
}

.hide {
 display: none;
}
button {
 border-radius: 50%;
}
html {
 z-index: -1;
 transition: all 1s ease-in;
}